:root {
  --forest: #566862;
  --mist-green: #717f76;
  --cream: #f9f5f1;
  --parchment: #e9dfd3;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#onboarding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  background-color: aliceblue;
}

#Onboarding > input,
select {
  min-width: 70%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em;
}

.checkboxes > .label {
  margin-right: 2em;
}

button {
  margin: 2em;
}

.data-section {
  position: absolute;
  top: 0;
  right: 0;
  height: 0px;
  width: 0px;
  overflow: hidden;
}

img {
  max-width: 200px;
}

.loader {
  color: black;
  background-color: rgb(241, 241, 115);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* top: 0; */
  /* position: absolute; */
  height: 50px;
  width: 100vw;
  /* position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%; */
}

.error-msg {
  color: white;
  background-color: red;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* top: 0; */
  /* position: absolute; */
  height: 50px;
  width: 100vw;
}

.success-msg {
  color: white;
  background-color: green;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* top: 0;
  position: absolute; */
  height: 50px;
  width: 100vw;
}

#image-upload {
  background-color: #717f76;
  color: white;
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  box-shadow: 4px 4px 4px #f9f5f1;
}
#image-upload:active {
  transform: translate(1px, 1px);
}

#image-preview {
  object-fit: cover;
  height: 400px;
  min-width: 300px;
  background-color: rgb(150, 150, 150);
  border-radius: 40% 40% 0% 0%;
}
